/* https://github.com/BaseMax/PikachuPixelCSS */
body {
    height: auto;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.figure {
    width: 400px;  
    height: auto;
    box-shadow: 1px 14px 93px 2px rgba(0, 0, 0, 0.41);
    background: #ffffff;
}

.figure .dot {
    width: 10px;
    height: 10px;
    box-shadow: 0px 0px 1px 0px #231816;
    float: left;
    font-size: 6px;
    text-align: center;
    line-height: 10px;
    background: #ffd924;
}

.figure .dot:nth-of-type(1102),
.figure .dot:nth-of-type(1103),
.figure .dot:nth-of-type(1061),
.figure .dot:nth-of-type(1062),
.figure .dot:nth-of-type(1063),
.figure .dot:nth-of-type(1064),
.figure .dot:nth-of-type(550),
.figure .dot:nth-of-type(509),
.figure .dot:nth-of-type(511),
.figure .dot:nth-of-type(472),
.figure .dot:nth-of-type(433),
.figure .dot:nth-of-type(394),
.figure .dot:nth-of-type(354),
.figure .dot:nth-of-type(353),
.figure .dot:nth-of-type(393),
.figure .dot:nth-of-type(432),
.figure .dot:nth-of-type(471),
.figure .dot:nth-of-type(470),
.figure .dot:nth-of-type(427),
.figure .dot:nth-of-type(417),
.figure .dot:nth-of-type(373),
.figure .dot:nth-of-type(329),
.figure .dot:nth-of-type(328),
.figure .dot:nth-of-type(327),
.figure .dot:nth-of-type(368),
.figure .dot:nth-of-type(409),
.figure .dot:nth-of-type(450),
.figure .dot:nth-of-type(491),
.figure .dot:nth-of-type(492),
.figure .dot:nth-of-type(493),
.figure .dot:nth-of-type(494),
.figure .dot:nth-of-type(495),
.figure .dot:nth-of-type(533),
.figure .dot:nth-of-type(653),
.figure .dot:nth-of-type(1053),
.figure .dot:nth-of-type(973),
.figure .dot:nth-of-type(845),
.figure .dot:nth-of-type(886),
.figure .dot:nth-of-type(927),
.figure .dot:nth-of-type(968),
.figure .dot:nth-of-type(1050),
.figure .dot:nth-of-type(1009),
.figure .dot:nth-of-type(1091),
.figure .dot:nth-of-type(991),
.figure .dot:nth-of-type(1071),
.figure .dot:nth-of-type(1270),
.figure .dot:nth-of-type(1310),
.figure .dot:nth-of-type(1349),
.figure .dot:nth-of-type(1388),
.figure .dot:nth-of-type(1377),
.figure .dot:nth-of-type(1336),
.figure .dot:nth-of-type(1295),
.figure .dot:nth-of-type(1255),
.figure .dot:nth-of-type(1617),
.figure .dot:nth-of-type(1618),
.figure .dot:nth-of-type(1626),
.figure .dot:nth-of-type(1627),
.figure .dot:nth-of-type(1581),
.figure .dot:nth-of-type(1582),
.figure .dot:nth-of-type(1583),
.figure .dot:nth-of-type(1584),
.figure .dot:nth-of-type(1452),
.figure .dot:nth-of-type(1493),
.figure .dot:nth-of-type(1533),
.figure .dot:nth-of-type(1574),
.figure .dot:nth-of-type(1531),
.figure .dot:nth-of-type(1491),
.figure .dot:nth-of-type(1490),
.figure .dot:nth-of-type(1489),
.figure .dot:nth-of-type(1450),
.figure .dot:nth-of-type(1449),
.figure .dot:nth-of-type(1448),
.figure .dot:nth-of-type(1370),
.figure .dot:nth-of-type(1409),
.figure .dot:nth-of-type(1368),
.figure .dot:nth-of-type(1369),
.figure .dot:nth-of-type(1328),
.figure .dot:nth-of-type(1329),
.figure .dot:nth-of-type(1288) {
    background: #f19224;
}
    
.figure .dot:nth-of-type(1210),
.figure .dot:nth-of-type(1250),
.figure .dot:nth-of-type(1249),
.figure .dot:nth-of-type(1290) {
    background: #c3a40f;
}

.figure .dot:nth-of-type(156),
.figure .dot:nth-of-type(157),
.figure .dot:nth-of-type(194),
.figure .dot:nth-of-type(195),
.figure .dot:nth-of-type(196),
.figure .dot:nth-of-type(197),
.figure .dot:nth-of-type(232),
.figure .dot:nth-of-type(233),
.figure .dot:nth-of-type(234),
.figure .dot:nth-of-type(235),
.figure .dot:nth-of-type(236),
.figure .dot:nth-of-type(237),
.figure .dot:nth-of-type(275),
.figure .dot:nth-of-type(276),
.figure .dot:nth-of-type(277),
.figure .dot:nth-of-type(315),
.figure .dot:nth-of-type(316),
.figure .dot:nth-of-type(355),
.figure .dot:nth-of-type(356),
.figure .dot:nth-of-type(395),
.figure .dot:nth-of-type(434),
.figure .dot:nth-of-type(473),
.figure .dot:nth-of-type(512),
.figure .dot:nth-of-type(551),
.figure .dot:nth-of-type(591),
.figure .dot:nth-of-type(631),
.figure .dot:nth-of-type(271),
.figure .dot:nth-of-type(310),
.figure .dot:nth-of-type(349),
.figure .dot:nth-of-type(388),
.figure .dot:nth-of-type(387),
.figure .dot:nth-of-type(426),
.figure .dot:nth-of-type(385),
.figure .dot:nth-of-type(384),
.figure .dot:nth-of-type(383),
.figure .dot:nth-of-type(382),
.figure .dot:nth-of-type(381),
.figure .dot:nth-of-type(380),
.figure .dot:nth-of-type(379),
.figure .dot:nth-of-type(377),
.figure .dot:nth-of-type(376),
.figure .dot:nth-of-type(375),
.figure .dot:nth-of-type(374),
.figure .dot:nth-of-type(418),
.figure .dot:nth-of-type(333),
.figure .dot:nth-of-type(332),
.figure .dot:nth-of-type(331),
.figure .dot:nth-of-type(330),
.figure .dot:nth-of-type(289),
.figure .dot:nth-of-type(288),
.figure .dot:nth-of-type(287),
.figure .dot:nth-of-type(286),
.figure .dot:nth-of-type(285),
.figure .dot:nth-of-type(284),
.figure .dot:nth-of-type(326),
.figure .dot:nth-of-type(325),
.figure .dot:nth-of-type(324),
.figure .dot:nth-of-type(367),
.figure .dot:nth-of-type(366),
.figure .dot:nth-of-type(407),
.figure .dot:nth-of-type(408),
.figure .dot:nth-of-type(448),
.figure .dot:nth-of-type(449),
.figure .dot:nth-of-type(489),
.figure .dot:nth-of-type(490),
.figure .dot:nth-of-type(531),
.figure .dot:nth-of-type(532),
.figure .dot:nth-of-type(534),
.figure .dot:nth-of-type(573),
.figure .dot:nth-of-type(613),
.figure .dot:nth-of-type(652),
.figure .dot:nth-of-type(692),
.figure .dot:nth-of-type(732),
.figure .dot:nth-of-type(672),
.figure .dot:nth-of-type(712),
.figure .dot:nth-of-type(752),
.figure .dot:nth-of-type(793),
.figure .dot:nth-of-type(833),
.figure .dot:nth-of-type(873),
.figure .dot:nth-of-type(913),
.figure .dot:nth-of-type(952),
.figure .dot:nth-of-type(992),
.figure .dot:nth-of-type(771),
.figure .dot:nth-of-type(811),
.figure .dot:nth-of-type(851),
.figure .dot:nth-of-type(891),
.figure .dot:nth-of-type(932),
.figure .dot:nth-of-type(972),
.figure .dot:nth-of-type(510),
.figure .dot:nth-of-type(617),
.figure .dot:nth-of-type(618),
.figure .dot:nth-of-type(656),
.figure .dot:nth-of-type(657),
.figure .dot:nth-of-type(658),
.figure .dot:nth-of-type(659),
.figure .dot:nth-of-type(698),
.figure .dot:nth-of-type(699),
.figure .dot:nth-of-type(697),
.figure .dot:nth-of-type(696),
.figure .dot:nth-of-type(737),
.figure .dot:nth-of-type(738),
.figure .dot:nth-of-type(628),
.figure .dot:nth-of-type(627),
.figure .dot:nth-of-type(666),
.figure .dot:nth-of-type(667),
.figure .dot:nth-of-type(668),
.figure .dot:nth-of-type(669),
.figure .dot:nth-of-type(706),
.figure .dot:nth-of-type(707),
.figure .dot:nth-of-type(708),
.figure .dot:nth-of-type(709),
.figure .dot:nth-of-type(747),
.figure .dot:nth-of-type(748),
.figure .dot:nth-of-type(782),
.figure .dot:nth-of-type(783),
.figure .dot:nth-of-type(862),
.figure .dot:nth-of-type(863),
.figure .dot:nth-of-type(900),
.figure .dot:nth-of-type(901),
.figure .dot:nth-of-type(904),
.figure .dot:nth-of-type(905),
.figure .dot:nth-of-type(859),
.figure .dot:nth-of-type(866),
.figure .dot:nth-of-type(1013),
.figure .dot:nth-of-type(1031),
.figure .dot:nth-of-type(1072),
.figure .dot:nth-of-type(1112),
.figure .dot:nth-of-type(1152),
.figure .dot:nth-of-type(1192),
.figure .dot:nth-of-type(1233),
.figure .dot:nth-of-type(1273),
.figure .dot:nth-of-type(1313),
.figure .dot:nth-of-type(1353),
.figure .dot:nth-of-type(1393),
.figure .dot:nth-of-type(1433),
.figure .dot:nth-of-type(1473),
.figure .dot:nth-of-type(1512),
.figure .dot:nth-of-type(1552),
.figure .dot:nth-of-type(1591),
.figure .dot:nth-of-type(1630),
.figure .dot:nth-of-type(1671),
.figure .dot:nth-of-type(1711),
.figure .dot:nth-of-type(1710),
.figure .dot:nth-of-type(1709),
.figure .dot:nth-of-type(1708),
.figure .dot:nth-of-type(1707),
.figure .dot:nth-of-type(1666),
.figure .dot:nth-of-type(1667),
.figure .dot:nth-of-type(1625),
.figure .dot:nth-of-type(1624),
.figure .dot:nth-of-type(1623),
.figure .dot:nth-of-type(1622),
.figure .dot:nth-of-type(1621),
.figure .dot:nth-of-type(1620),
.figure .dot:nth-of-type(1619),
.figure .dot:nth-of-type(1658),
.figure .dot:nth-of-type(1657),
.figure .dot:nth-of-type(1659),
.figure .dot:nth-of-type(1697),
.figure .dot:nth-of-type(1696),
.figure .dot:nth-of-type(1695),
.figure .dot:nth-of-type(1694),
.figure .dot:nth-of-type(1693),
.figure .dot:nth-of-type(1653),
.figure .dot:nth-of-type(1614),
.figure .dot:nth-of-type(1573),
.figure .dot:nth-of-type(1532),
.figure .dot:nth-of-type(1492),
.figure .dot:nth-of-type(1451),
.figure .dot:nth-of-type(1411),
.figure .dot:nth-of-type(1371),
.figure .dot:nth-of-type(1331),
.figure .dot:nth-of-type(1291),
.figure .dot:nth-of-type(1251),
.figure .dot:nth-of-type(1211),
.figure .dot:nth-of-type(1171),
.figure .dot:nth-of-type(1052),
.figure .dot:nth-of-type(1092),
.figure .dot:nth-of-type(1132),
.figure .dot:nth-of-type(1093),
.figure .dot:nth-of-type(1175),
.figure .dot:nth-of-type(1179),
.figure .dot:nth-of-type(1215),
.figure .dot:nth-of-type(1256),
.figure .dot:nth-of-type(1296),
.figure .dot:nth-of-type(1337),
.figure .dot:nth-of-type(1378),
.figure .dot:nth-of-type(1379),
.figure .dot:nth-of-type(1340),
.figure .dot:nth-of-type(1300),
.figure .dot:nth-of-type(1260),
.figure .dot:nth-of-type(1220),
.figure .dot:nth-of-type(1139),
.figure .dot:nth-of-type(1190),
.figure .dot:nth-of-type(1230),
.figure .dot:nth-of-type(1269),
.figure .dot:nth-of-type(1309),
.figure .dot:nth-of-type(1348),
.figure .dot:nth-of-type(1386),
.figure .dot:nth-of-type(1387),
.figure .dot:nth-of-type(1345),
.figure .dot:nth-of-type(1305),
.figure .dot:nth-of-type(1265),
.figure .dot:nth-of-type(1225),
.figure .dot:nth-of-type(1186),
.figure .dot:nth-of-type(1146),
.figure .dot:nth-of-type(1572),
.figure .dot:nth-of-type(1571),
.figure .dot:nth-of-type(1530),
.figure .dot:nth-of-type(1529),
.figure .dot:nth-of-type(1488),
.figure .dot:nth-of-type(1447),
.figure .dot:nth-of-type(1408),
.figure .dot:nth-of-type(1367),
.figure .dot:nth-of-type(1326),
.figure .dot:nth-of-type(1285),
.figure .dot:nth-of-type(1245),
.figure .dot:nth-of-type(1206),
.figure .dot:nth-of-type(1165),
.figure .dot:nth-of-type(1124),
.figure .dot:nth-of-type(1084),
.figure .dot:nth-of-type(1044),
.figure .dot:nth-of-type(1004),
.figure .dot:nth-of-type(964),
.figure .dot:nth-of-type(924),
.figure .dot:nth-of-type(884),
.figure .dot:nth-of-type(844),
.figure .dot:nth-of-type(804),
.figure .dot:nth-of-type(764),
.figure .dot:nth-of-type(805),
.figure .dot:nth-of-type(846),
.figure .dot:nth-of-type(887),
.figure .dot:nth-of-type(928),
.figure .dot:nth-of-type(969),
.figure .dot:nth-of-type(1010),
.figure .dot:nth-of-type(1051),
.figure .dot:nth-of-type(1248),
.figure .dot:nth-of-type(1209),
.figure .dot:nth-of-type(1289),
.figure .dot:nth-of-type(1330),
.figure .dot:nth-of-type(1410),
.figure .dot:nth-of-type(1170) {
      background: #231816;
    }
    
.figure .dot:nth-of-type(658),
.figure .dot:nth-of-type(668) {
      background: #ffffff;
    }
    
.figure .dot:nth-of-type(774),
.figure .dot:nth-of-type(775),
.figure .dot:nth-of-type(813),
.figure .dot:nth-of-type(855),
.figure .dot:nth-of-type(856),
.figure .dot:nth-of-type(815),
.figure .dot:nth-of-type(816),
.figure .dot:nth-of-type(853),
.figure .dot:nth-of-type(854),
.figure .dot:nth-of-type(894),
.figure .dot:nth-of-type(814),
.figure .dot:nth-of-type(895),
    
.figure .dot:nth-of-type(790),
.figure .dot:nth-of-type(791),
.figure .dot:nth-of-type(829),
.figure .dot:nth-of-type(830),
.figure .dot:nth-of-type(831),
.figure .dot:nth-of-type(832),
.figure .dot:nth-of-type(869),
.figure .dot:nth-of-type(870),
.figure .dot:nth-of-type(871),
.figure .dot:nth-of-type(872),
.figure .dot:nth-of-type(910),
.figure .dot:nth-of-type(911) {
    background: #fe3310;
}
